@page "/"
@using PrimeiroAppBlazor.Library

<PageTitle>Carrera</PageTitle>

<h1>Pagina Carrera</h1>

<EditForm Model="@carreraCLS" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <div class="mt-3">
        <label>Ingresse Id</label>
        <InputNumber class="form-control" @bind-Value="carreraCLS.idcarrera" />
    </div>

    <div class="mt-3">
        <label>Ingresse Nombre</label>
        <InputText class="form-control" @bind-Value="carreraCLS.nombrecarrera" />
        <ValidationMessage For="(()=>carreraCLS.nombrecarrera)" />
    </div>

    <div class="mt-3">
        <label>Ingresse Descripcion</label>
        <InputTextArea class="form-control" @bind-Value="carreraCLS.descripcioncarrera" />
        <ValidationMessage For="(()=>carreraCLS.descripcioncarrera)" />
    </div>
    
    <div class="mt-3">
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
</EditForm>

@if(listacarrera is null)
{
    <h1>Carregando...</h1>
} else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carrera in listacarrera)
            {
                <tr>
                    <td>@carrera.idcarrera</td>
                    <td>@carrera.nombrecarrera</td>
                    <td>@carrera.descripcioncarrera</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public CarreraCLS carreraCLS { get; set; } = new CarreraCLS();

    public List<CarreraCLS> listacarrera { get; set; }

    // quando o componente inicia o carregamente ou finaliza
    protected override async Task OnInitializedAsync()
    {

        listacarrera = new List<CarreraCLS>();

        listacarrera.Add(new CarreraCLS { 
            idcarrera = 1, 
            nombrecarrera = "Informatica", 
            descripcioncarrera = "Desc 1" 
        });

        listacarrera.Add(new CarreraCLS
            {
                idcarrera = 2,
                nombrecarrera = "Medicina",
                descripcioncarrera = "Desc 2"
            });

        await Task.CompletedTask;
    }

    public async Task Guardar()
    {
        listacarrera.Add(carreraCLS);
        carreraCLS = new CarreraCLS();
    }
}